<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bp.pruebamapas">

    <!-- Permiso para obtener la localización con buena precisión. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Permiso para conexión internet, permite descargar el mapa. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Permiso de estado de la red, para verificar cuando se puede descargar el mapa. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Permite almacenar los mapas en la caché. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- API key generada después de introducir SHA-1 y paquete en la consola de desarrollador. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyABqa2VBGVmZWZMRGhZAe_HTKO_-UQZTTQ" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>